@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 5px;
	}

	.scrollbar::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: #d9d9d9;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #108f3e;
		border-radius: 100vh;
		padding: 10px;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #108f3e;
	}
}

.ant-btn.ant-btn-primary {
	@apply bg-blue-500;
}
